<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bilibili管理员登录</title>
</head>
<body>
<h1>管理员系统</h1>
<form method="POST">
    {{ form.csrf_token() }}
    {{ form.username.label }}{{ form.username }}<br>
    {% for error in form.username.errors %}
        <small style="color: red">{{ error }}</small>
    {% endfor %}<br>
    {{ form.password.label }}{{ form.password }}<br>
    {% for error in form.password.errors %}
        <small style="color: red">{{ error }}</small>
    {% endfor %}<br>
    {% for message in get_flashed_messages() %}
    <small style="color: red">{{ message }}</small>
    {% endfor %}<br>
    {{ form.submit }}<br>
</form>
<a href="{{ url_for("Login") }}">用户登录</a>
</body>
</html>