<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bilibili管理系统</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;

        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>你好，管理员{{ name }}</h1>
<a href="{{ url_for("AdminVideo", admin=name, page=1) }}">视频管理</a> <a href="{{ url_for("AdminLogout", admin=name) }}">退出</a>
<hr>
<h2>用户列表</h2>
<table>
    <thead>
    <tr>
        <th>编号</th>
        <th>用户名</th>
        <th>头像</th>
        <th>密码</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for v in page_data.items %}
    <tr>
        <td>{{ v.id }}</td>
        <td><a href="#">{{ v.name }}</a></td>
        <td>{% if v.avatar %}
            <img src="/static/upload/{{ v.avatar }}" style="height: 80px">
        {% else %}
            <img src="/static/test.png" alt="">
        {% endif %}</td>
        <td>{{  v.password }}</td>
        <td>{{ v.email }}</td>
        <td>{{ v.phone }}</td>
        <td><a href="{{ url_for("UserDelete", admin=name, id=v.id) }}">封号</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li><a href="{{ url_for("AdminIndex", admin=name, page=1) }}">首页</a></li>
    {% if page_data.has_prev %}
        <li><a href="{{ url_for("AdminIndex", admin=name, page=page_data.prev_num) }}">上一页</a></li>
    {% else %}
        <li><a href="#">上一页</a></li>
    {% endif %}
    {% for v in page_data.iter_pages() %}
        {% if v == page_data.page %}
            <li><a href="#">{{ v }}</a></li>
        {% else %}
            <li><a href="{{ url_for("AdminIndex", admin=name,page=v ) }}">{{ v }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_data.has_next %}
        <li><a href="{{ url_for("AdminIndex", admin=name, page=page_data.next_num) }}">下一页</a></li>
    {% else %}
        <li><a href="#">下一页</a></li>
    {% endif %}
    <li><a href="{{ url_for("AdminIndex", admin=name, page=page_data.pages) }}">尾页</a></li>
</ul>
</body>
</html>