<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
</head>
<body>
<h1>你好{{ name }}</h1>
        {% if usermessage.avatar %}
            <img src="/static/upload/{{ usermessage.avatar }}" style="height: 80px">
        {% else %}
            <img src="/static/test.png" alt="">
        {% endif %}
<nav><a href="{{ url_for("Index", user=name, page=1) }}">首页</a> <a href="{{ url_for("Space", user=name, page=1) }}">收藏</a> <a href="{{ url_for("VideoUploaded", user=name, page=1) }}">已上传视频</a> <a href="{{ url_for("UserChange", user=name) }}">信息修改</a> <a href="{{ url_for("Password",user=name) }}">密码修改</a></nav>
<hr>
<form method="POST">
    {{ form.csrf_token() }}
    {{ form.oldpassword.label }}{{ form.oldpassword }}<br>
    {% for err in form.oldpassword.errors %}
    <small style="color: red">{{ err }}</small><br>
    {% endfor %}
    {{ form.newpassword.label }}{{ form.newpassword }}<br>
    {% for err in form.newpassword.errors %}
    <small style="color: red">{{ err }}</small><br>
    {% endfor %}
    {{ form.repassword.label }}{{ form.repassword }}<br>
    {% for err in form.repassword.errors %}
    <small style="color: red">{{ err }}</small><br>
    {% endfor %}
    {% for message in get_flashed_messages() %}
    <small style="color: red">{{ message }}</small><br>
    {% endfor %}
    {{ form.submit }}<br>
</form>
</body>
</html>